.frame-footer {
  padding-top: 20px;
  margin-top: 20px;
  background-color: #202020;
  color: #959595;
  a {
    color: #959595;
    &:hover {
      color: #fff;
    }
  }
  @media (min-width: $screen-sm-min) {
    margin-top: 35px;
    padding-top: 35px;
  }
  /*标题*/
  .title {
    text-align: center;
    position: relative;
    padding: 10px 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: $font-size-h5;
    font-weight: normal;
    border-bottom: 1px solid #303030;
    @media (min-width: $screen-sm-min) {
      text-align: left;
      font-size: $font-size-h4;
    }
    &:after {
      display: none;
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 50%;
      border-bottom: 1px solid #337ab7;
      @media (min-width: $screen-sm-min) {
        display: block;
      }
    }
  }
  /*底部链接列表*/
  @at-root ul.list-link {
    @include clearfix;
    a {
      display: block;
      padding-bottom: 14px;
      margin-bottom: 14px;
      border-bottom: 1px dashed #303030;
    }
  }
  /*底部按钮列表*/
  @at-root ul.list-btn {
    @include clearfix;
    a {
      display: block;
      padding: 2px 7px;
      margin: 0 7px 7px 0;
      float: left;
      border: 1px solid $gray-light;
      &:hover {
        background-color: $brand-primary;
      }
    }
  }
  /*备案号*/
  .record {
    padding-top: 14px;
    padding-bottom: 20px;
    border-top: 1px solid #303030;
    background-color: #111;
    font-size: 12px;
    a {
      &:hover {
        color: #959595;
        text-decoration: underline;
      }
    }
  }
}