/**
* 默认样式为大屏幕   x>=1200px
*/
/*小、中、大（非手机屏）*/
@media (min-width: $screen-sm-min) {
  .frame-head {
    @at-root .frame-nav {
      /*菜单必显*/
      ul {
        display: block !important;
      }
    }
  }
}

/*中屏幕  x<=1199px x<1200px*/
@media (max-width: $screen-md-max) {
  /*头部*/
  .frame-head {
    @at-root .frame-nav {
      /*菜单字体 16px -> 14px*/
      ul {
        font-size: $font-size-base;
      }
    }
    /*标题字体变小 h1 -> h2*/
    h1 {
      font-size: $font-size-h2;
    }
    h1, a {
      line-height: 95px;
    }
    & > .bubble {
      height: 95px;
    }
  }
}

/*小屏幕   x<=991px x<992px*/
@media (max-width: $screen-sm-max) {
  /*头部*/
  .frame-head {
    /*标题字体变小 h2 -> sh3*/
    h1 {
      font-size: $font-size-h3;
    }
    /*行高变小*/
    h1, a {
      line-height: 80px;
    }
    & > .bubble {
      height: 80px;
    }
  }
}

/*手机屏 x<=767px x<768px*/
@media (max-width: $screen-xs-max) {
  /*头部*/
  .frame-head {
    /*标题字体变小 h3 -> h4*/
    h1 {
      font-size: $font-size-h4;
    }
    /*行高变小*/
    h1, a {
      line-height: 60px;
    }
    & > .bubble {
      height: 60px;
    }
    .frame-nav {
      margin: 0 -15px;
    }
    @at-root .frame-nav > ul {
      //position: relative;
      //left: -100%;
      position: fixed;
      top: 0;
      width: 80%;
      right: 100%;
      bottom: 0;
      background-color: $state-info-bg;
      li {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }
}